body {
    padding: 8pt;
    display: flex;
    flex-direction: column;
    gap: 10pt;
}

#videos {
    display: flex;
    flex-direction: row;
    gap: 5pt;
    align-items: center;
}
.videos-panel {
    border-radius: 5pt;
    padding: 5pt;
    height: 100%;
}
.video {
    display: flex !important;
    flex-direction: column;
    gap: 1pt;
    padding: 10pt !important;
    padding-bottom: 15pt !important;
}
.video-info {
    margin-bottom: 0px;
    text-align: start;
}
.video-img {
    height: 100%;
    border-radius: 5pt;
}

#add-video-btn {
    width: 200pt;
    max-width: 100%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup {
    width: 500pt;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 8pt;
    padding: 8pt;
    box-shadow: 0pt 5pt 10pt 0pt rgba(0,0,0,0.3);

    transition: transform 0.3s;
}
.closed-popup {
    visibility: hidden;
    transform: scale(0.1);
}
